* {
    color: white;
    font-family: 'verdana', monospace;
    margin: 0;
    padding: 0;
    text-indent: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
}

body {
    background-color: #0a0a0d;
    width: 100%;
    padding: 100px 0;

    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;

    gap: 50px;
}

section {
    display: flex;
    flex-direction: column;
    width: min(1200px, 90vw);
    position: relative;
    gap: 10px;
}

h1 {
    font-size: 50px;
    margin-left: -5px;
}

#about {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: -5rem;
}

#about b {
    font-size: 2rem;
}

#about h1 {
    font-size: 5rem;
    color: #87c5ff;
    margin-left: -5px;
}

#about span {
    font-size: 2rem;
}

.line {
    width: 1px;
    height: calc(100% - 70px);
    background-color: #87c5ff;

    top: 70px;
    left: 0;

    position: absolute;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.list h1 {
    color: #87c5ff;
    margin-bottom: -10px;
}

button {
    background-color: #235f97;
    padding: 8px 15px;
    border-radius: 8px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;

    font-size: 16px;
}

button img {
    height: 14px;
}

.list .listitem {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 15px;
}

.list .listitem h2 {
    font-size: 30px;
    margin-bottom: -10px;
}

.list .listitem span {
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 5px;
}

i {
    color: #fff9;
}

footer {
    margin: 100px;
}

#contact a {
    cursor: pointer;
    color:#87c5ff
}

#contact div {
    display: flex;
    flex-direction: row;
    gap: 10px;
}